*{
  box-sizing: border-box;
}

body {
  padding: 50px;
  background-color:#BCF5A9;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  background-color:white;
  padding:5px;
}


.flex-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.taglist{
  float:left;
}

.tagmap{
  float:right;
  margin: 14px;
  margin-right:30px;
}

.tagging{
  order:0;
  flex-basis: 25%;
  float: left;
}


.discovery {
  order:1;
  flex-basis: 73%;
  float: left;
}

input[type="text"]{
  padding: 5px;
}

header{
  background-image: url("Kind2.jpg");
    background-color:#BCF5A9;
    background-repeat: no-repeat;
    background-size:1200px;
    color: white;
    padding:10px;
}

footer{
  background-color:#04B404;
  padding: 10px;
  color:white;
}

.blockTag{
  display:block;
  margin-top: 3px;
  margin-bottom: 3px;
}

#submitTagging{
  margin-top: 15px;
  padding: 5px;
}

label{
  line-height: 1.5;
}

li{
  background-color: #04B404;
  color:white;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
}


@media screen and (max-width:850px){
  .tagging{
    order:0;
    flex-basis: 100%;
    float: left;
  }


  .discovery {
    order:1;
    flex-basis: 100%;
    float: left;
  }


  .taglist{
    flex-basis: 100%;
    order: 2;
  }

  .tagmap{
    flex-basis: 100%;
    float: left;
    margin: 14px;
    margin-right: 30px;
    order:3;
  }

  .flex-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
